bin/
obj/
artifacts/
docs/
reference/
*.gif
*.jpg
*.jpeg
*.png
*.ico
*.icns
!assets/
!assets/*.gif
!assets/*.jpg
!assets/*.jpeg
!assets/*.png
!assets/*.ico
!assets/*.icns
*.user
*.suo
.vs/
TestResults/
